.account-container {
    position: relative;

    &__header {
        text-align: center;
        padding: 15px 0 10px 0;
        font-size: 1.5rem;
    }

    &__button {
        position: absolute;
        right: 22%;
        bottom: -30%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

}