@import '../styling-vars.scss';

.day-details-container {

    &__header {
        padding: 15px 0 10px 0;
        text-align: center;
        font-size: 1.5rem;
    }

    &__link-container {
        text-align: center;
        margin-top: 20px;
    }

    &__link {
        font-size: 1.2rem;
        color: black;
        margin: 0 40px;
        &:hover {
            color: $scheme-blue-dark;
        }
    }

}