@import '../styling-vars.scss';


.homepage-container {

    &__header {
        padding: 15px 0 10px 0;
        text-align: center;
        font-size: 1.5rem;
    }

    &__link {
        text-align: center;
        width: 100px;
        margin: 15px auto;
        display: block;
        color: black;
        &:hover {
            color: $scheme-blue-dark;
        }
    }

    &__day-cards-list {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        margin: 0;
        padding: 0; 
    }

}