@import '../styling-vars.scss';


.manage-habits-container {
    
    &__header-items {
        text-align: center;
    }
    
    &__header {
        padding: 15px 0 10px 0;
        font-size: 1.5rem;
    }
    
    &__habit-cards-list {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 150px;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
    }

    &__habit-card-li {
        width: 25%;
        margin: 20px;
    }

    &__label {
        margin-right: 10px;
        display: inline-block;
    }
    
    &__filter {
        display: inline-block;
    }

    &__button {
        border-style: none;
        outline: none;
        background: none;
        font-size: 3rem;
    }

    &__form {
        text-align: center;
        display: inline-block;
        margin-left: 50px;
    }

    &__input {
        margin-right: 10px;
    }

    &__button-submit {
        border: none;
        background-color: $scheme-blue-light;
        padding: 7px 15px;
        border-radius: 4px;
        &:hover, &:active {
            background-color: $scheme-blue-dark;
            color: white;
            border: none;
        }
    }

    &__filter-container {
        display:inline-block;
        margin-right: 50px;
    }


}

.ui.input {
    height: 30px;
}