@import '../styling-vars.scss';

.trend-container {
    text-align: center;

    &__graph-container {
        height: 600px
    }

    &__header-items {
        text-align: center;
    }
    
    &__header {
        padding: 15px 0 10px 0;
        font-size: 1.5rem;
    }

    &__label {
        margin-right: 5px;
        margin-left: 20px;
    }
    
    &__input {
        margin-right: 20px;
    }

    &__button {
        margin-left: 20px;
        border: none;
        background-color: $scheme-blue-light;
        padding: 11px 15px;
        border-radius: 4px;
        &:hover, &:active {
            background-color: $scheme-blue-dark;
            color: white;
            border: none;
        }
    }

    &__date-picker-container {
        display: inline-block;
    }

    &__export-link {
        text-align: center;
        color: black;
        text-decoration: underline;
        &:hover {
            color: $scheme-blue-dark;
            text-decoration: underline;
        }
    }

    &__form {
        display: inline-block;
    }

    &__filter-container {
        display: inline-block;
    }
}

input {
    border-width: 1px;
}

.ui.active.centered.inline.loader {
    margin-top: 50px;
}

.react-datepicker__input-container {
    position: relative;
    font-weight: normal;
    font-style: normal;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: rgba(0, 0, 0, 0.87);
  }
  .react-datepicker__input-container > input {
    margin: 0em;
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.21428571em;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 0.67857143em 1em;
    background: #FFFFFF;
    border: 1px solid rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    -webkit-transition: border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: box-shadow 0.1s ease, border-color 0.1s ease;
    transition: box-shadow 0.1s ease, border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
    -webkit-box-shadow: none;
            box-shadow: none;
  }