@import '../styling-vars';



.day-details-card {
    display: flex;
    // padding: 0 60px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    max-height: 450px;
    position: relative;
    box-shadow: 5px 5px 10px grey;

    &__header {
        &--date {
            font-size: 1.5rem;
            margin-top: 10px;
            margin-left: 5px;
            margin-bottom: 10px;
        }
        &--habits,&--mood-sleep {
            font-size: 1.2rem;
            margin-left: 10px;
            padding-top: 10px;
            margin-bottom: 20px;
        }
    }

    &__left-container {
        padding: 0 20px 60px;
        width: 65%;
        background-color: $scheme-blue-light;
        position: relative;
    }

    &__notes-list {
        max-height: 340px;
        padding-left: 0;
        margin:0;
        overflow: auto;
    }

    &__notes-list-item {
        list-style-type: none;
        margin: 15px 0;
        padding: 0;
    }

    &__button {
        display: block;
        border-style: none;
        outline: none;
        background: none;
        font-size: 3rem;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        &:hover {
            cursor: pointer;
            color: $scheme-coral;
        }
    }

    &__right-container {
        display: flex;
        flex-direction: column;
        width: 35%;
    }

    &__habits {
        height: 50%;
        background-color: $scheme-yellow;
        position: relative;
    }

    &__habits-list {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        max-height: 140px;
        padding-left: 30px;
        padding-right: 10px;
        margin: 0;
        overflow: auto;
        // justify-content: space-between;
    }

    &__habits-list-item {
        // text-align: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 50%;
    }

    &__link {
        position: absolute;
        left: 50%;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto 7px;
        text-align: center;
        color: black;
        text-decoration: underline;
        &:hover {
            color: $scheme-blue-dark;
            text-decoration: underline;
        }
    }

    &__mood-sleep {
        background-color: $scheme-coral;
        flex-grow: 1;
    }

    &__mood-rating-widget, &__sleep-widget {
        display: inline-block;
        width: 50%;
        text-align: center;
    }

    &__ms-value-container {
        position: relative;
        height: 90px;
        width: 90px;
        margin: 10px auto;
        background: white;
        border-radius: 50%;
    }

    &__ms-value {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
    }

    &__ms-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__ms-form-button {
        border: none;
        background-color: $scheme-blue-light;
        margin-top: 1px;
        padding: 2px 5px;
        border-radius: 4px;
        &:hover, &:active {
            background-color: $scheme-blue-dark;
            color: white;
            border: none;
        }
    }

    &__ms-form-select {
        background-color: $scheme-grey-light;
    }

    &__ms-button {
        margin-right: 20px;
        display: inline-block;
        margin-bottom: 10px;
        background-color: $scheme-grey-light;
        border-width: 1px;
        border-radius: 10px;
        padding: 2px 10px;
        &:hover {
            background-color: #bebebe;
        }
    }

}

