@import '../styling-vars.scss';

.edit-user-form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    border-style: solid;
    border-width: 1px;
    padding: 50px 10% 75px;
    position: relative;

    &__header {
        font-size: 1.2rem;
        width: 50%;
        margin: 40px auto;
    }

    &__input-container {
        display: flex;
        margin: 20px 0;
        justify-content: space-between;
    }

    &__button {
        display: inline-block;
        position: absolute;
        left: 50%;
        bottom: 5%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border: none;
        background-color: $scheme-blue-light;
        padding: 7px 15px;
        border-radius: 4px;
        &:hover, &:active {
            background-color: $scheme-blue-dark;
            color: white;
            border: none;
        }
    }

    &__account-update-message {
        text-align: center;
        font-size: 1.3rem;
        color:$scheme-coral;
    }

}