@import '../styling-vars.scss';


.edit-note-form {
    

    &__label-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    &__select {
        margin-left: 5px;
    }

    &__textarea {
        width: 100%;
        height: 200px;
        max-width: 100%;
        resize: none;
    }

    &__button {
        border: none;
        background-color: $scheme-blue-light;
        padding: 3px 5px;
        border-radius: 4px;
        &:hover, &:active {
            background-color: $scheme-blue-dark;
            color: white;
            border: none;
        }
    }
}