@import '../styling-vars.scss';


.habit-card {
    background-color: $scheme-blue-light;
    text-align: center;
    position: relative;
    height: 100px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;

    &:hover {
        background-color: $scheme-blue-dark;
    }

    &__header {
        font-size: 1.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    &__button {
        position: absolute;
        bottom: 0;
        left: 50%;
        right: 0;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        outline: none;
        background: none;
        border: none;
        text-decoration: underline;
        color: black;
        &:hover {
            color: $scheme-yellow;
            cursor: pointer;
        }
    }

}