@import '../styling-vars.scss';


.habit-card {
    background-color: $scheme-yellow;
    text-align: center;
    position: relative;
    height: 120px;
    box-shadow: 5px 5px 5px grey;

    &:hover {
        background-color: #c0a63d;
    }

    &__header {
        font-size: 1.5rem;
        position: absolute;
        top: 45%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    &__button {
        position: absolute;
        bottom: 5%;
        left: 50%;
        right: 0;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        outline: none;
        background: none;
        border: none;
        text-decoration: underline;
        color: black;
        &:hover {
            color: $scheme-yellow;
            cursor: pointer;
        }
    }

}