@import '../styling-vars';


.header {
    height: 10vh;
    background-color: $scheme-blue-dark;
    position: relative;
    box-shadow: 1px 1px 5px grey;

    &__header {
        font-size: 2rem;
        position: absolute;
        margin-top: auto;
        margin-bottom: auto;
        top: 0;
        bottom: 0;
        display: inline-block;
        margin-left: 1%;
        color: black;
        text-decoration: none;
        &:hover {
            color: $scheme-coral;
            text-shadow: 1px 1px 4px #000000;
        }
    }

    &__button {
        position: absolute;
        top: 50%;
        right: 1%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        display: inline-block;
        border-style: none;
        outline: none;
        background: none;
        font-size: 1rem;
        margin-top: auto;
        margin-bottom: auto;
        &:hover {
            color: $scheme-coral;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &__logo {
        display: inline-block;
        height: 3.5rem;
        transform: translate(0, 25%);
        img {
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            height: auto;
        }
    }


}