@import '../styling-vars';


.nav-bar {
    background-color: $scheme-grey-light;
    position: absolute;
    height: 100%;
    z-index: 1;
    box-shadow: 2px 2px 5px grey;


    &__hamburger {
        margin-top: 10px;
        margin-left: 5px;
        position: absolute;
        left: 10;
        &:hover {
            cursor: pointer;
        }
    }

    &__hamburger-line {
        background-color: black;
        height: 5px;
        width: 35px;
        margin: 5px;
    }

    &__links-container {
        position: relative;
        margin-top: 90px;
    }

    &__link {
        position: relative;
        display: block;
        color: black;
        margin: 20px 35px 0 15px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: $scheme-coral;
        }
    }

    &__sub-header {
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        font-size: .95rem;
    }


}