@import '../styling-vars';


.nav-bar {
    background-color: $scheme-grey-light;

    &__hamburger {
        position: absolute;
        left: 10;
    }

    &__hamburger-line {
        background-color: black;
        height: 4px;
        width: 30px;
        margin: 5px;
    }

    &__links-container {
        position: relative;
        margin-top: 40px;
    }

    &__link {
        position: relative;
        display: block;
        margin: 20px 35px 0 15px;
    }
}