@import 'react-datepicker/dist/react-datepicker.css';

html, body {
  font-family: 'Gill Sans MT', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
}

.main-container {
  position: relative;
  height: 100%;
}

.content-container {
  min-height: 600px;
}

* {
  box-sizing: border-box;
}