@import 'react-datepicker/dist/react-datepicker.css';

html, body {
  font-family: 'Gill Sans MT', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
}

.app {
  height: 600px;
}

.main-container {
  border-style: solid;
  border-width: 1px;
}